footer
    background-image: url('../images/footer_background.jpg')
    background-size: cover
    .about
        font-family: Ubuntu-Regular
        i
            font-size: 30px
    .insta
        font-family: Ubuntu-Regular
        img
            width: 120px
            height: 100px
    .tag
        font-family: Ubuntu-Regular
    .end
        width: 100%
        height: 100px