.section2
    background-image: url('../images/team_background.jpg')
    text-align: center
    h2
        font-family: Courgette-Regular
        color:  #B32A3A
        padding-top: 40px
        font-size: 50px
    span
        color: white
    .chefs
        display: flex
        justify-content: center
        p
            border-top: 1px solid white
            color: white
            text-transform: uppercase
            